body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 11pt;
    color: #333;
}

header {
    z-index: 5;
    box-sizing: border-box;
    position: absolute;
    top: 25pt;
    left: 25pt;
    padding-bottom: 25pt;
    /*transition: left 0.5s;*/
}

#app {
    position: fixed;
    width: 100%;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
}